<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
<head>
  <title>Narrow Down Your Menu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYthpqZ5vBTi6qDbTSfhqLrXqjYCUmwaSjDjEVqRiQtT8FOIkEFWzIAuaIDyJyW" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>  <script src="app.js"></script>
</head>
<body>
  <div class="container">
    <h1>Narrow Down Your Menu</h1>
    <div class="form-group">
      <input type="text" ng-model="narrowDown.searchTerm" placeholder="Search Term">
      <button ng-click="narrowDown.search()" class="btn btn-primary">Search</button>
      <div class="loader" ng-show="narrowDown.showLoader">Loading...</div>
    </div>
    <div ng-if="narrowDown.found.length === 0 && narrowDown.searchButtonClicked">
      Nothing found for {{narrowDown.searchTerm}}
    </div>
    <ul ng-if="narrowDown.found.length > 0">
      <li ng-repeat="item in narrowDown.found">
        {{item.name}}
        <button ng-click="narrowDown.removeItem($index)">Remove</button>
      </li>
    </ul>
  </div>
</body>
</html>
