  <!DOCTYPE html>
  <html ng-app="NarrowItDownApp">
  <head>
    <title>Narrow It Down!</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    </head>
    <body>
        <h1>Narrow It Down for Me!</h1>
        <input type="text" ng-model="searchTerm" placeholder="Search for something in the menu...">
        <button ng-click="findItems()">Narrow It Down!</button>
        <br>
    
        <div ng-if="found.length === 0">
            Nothing found.
        </div>
    
        <ul found-items items="found" on-remove="removeItem($index)"></ul>
    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="app.js"></script>
    </body>
    </html>
    